# Common
HELP.md
.gradle
build/
**/build/
**/.idea/
**/node_modules/

# IntelliJ IDEA
/.idea/*
!.idea/inspectionProfiles
/.idea/*.iml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/shelf
/.idea/gradle.xml
/.idea/libraries

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignore database files
/db_dev.mv.db
/db_dev.trace.db

# VS Code
.vscode/

# Firebase
firebase/goohaeyou-firebase-adminsdk.json

# Terraform
.terraform
back/terraform/main.tf
back/terraform/terraform.tfstate
back/terraform/terraform.tfstate.backup
back/terraform/.terraform.lock.hcl
